<div *ngIf="venue">
  <md-card class="card">
    <md-card-header>
      <md-card-title>{{venue.name}}</md-card-title>
      <md-card-subtitle class="subtitle">
        {{venue.price}}<css-stars [stars]="venue.rating"></css-stars>
      </md-card-subtitle>
    </md-card-header>
    <div md-card-image>
      <css-carousel [images]="venue.photos"></css-carousel>
    </div>
    <md-card-content>
      <p>{{venue.address}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  <agm-map
    [latitude]="venue.coordinates.latitude"
    [longitude]="lng"
    [zoom]="zoom"
    [scrollwheel]="scroll"
  >
    <agm-marker [latitude]="venue.coordinates.latitude" [longitude]="venue.coordinates.longitude"></agm-marker>
  </agm-map>
</div>