<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <md-card *ngFor="let venue of venues" class="card" [routerLink]="['/venue', venue.id]">
    <md-card-header>
      <img md-card-avatar [src]="venue.image_url" alt="{{venue.name}}">
      <md-card-title>
        <h3>{{venue.name}}</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content fxLayout="row" fxLayoutAlign="space-between center">
      <span>{{venue.price}}</span>
      <css-stars [stars]="venue.rating"></css-stars>
    </md-card-content>
  </md-card>
</div>
